.sezionefissa{

  display: inline-block;
  position:fixed;
  background-color: #2c3e50;
  height:100px;
  width: 100%;
  color:white;
  text-align: center;
  z-index: 1;
}
.azzurro{
  background-color:#1abc9c;
  height:1000px;
}
.bianca{
  height:1000px;
}
.footer1{
  background-color: #2c3e50;
  height:400px;
}
.footer2{
  background-color:#1a252f;
  height:100px;
}
.testo{
margin-top: 30px;
}
.uno{
  padding-top:5%;
  height:55%;
  border:1px black solid;

}
.due{
  padding-top: 30px;
  height:15%;
  border:1px black solid;
  color:white;
  font-size: 100px;

}

.tre{
  height:10%;
  border:1px black solid;
}
.quattro{
  text-align: center;
  font-size: 15px;
  height:10%;
  border:1px black solid;
    color:white;
  margin-bottom:5%;
}
#omino{
margin-top:150px;
height:300px;
width:220px;
}
.due{
